<main class="container-fluid">
	<h1>Resources</h1>
	<p>Because there is no required reading for this course, we've assembled a list of tools and resources we've found helpful. These resources should prove useful for the course and web and mobile development more generally.</p>
	<h2>Language tutorials</h2>
	<ul>
		<li>
			<a href="https://www.codecademy.com/learn/learn-html">CodeAcademy HTML</a>
		</li>
		<li>
			<a href="https://www.codecademy.com/learn/learn-css">CodeAcademy CSS</a>
		</li>
		<li>
			<a href="https://www.codecademy.com/learn/introduction-to-javascript">CodeAcademy JavaScript</a>
		</li>
	</ul>
	<h2>Technical references</h2>
	<ul>
		<li>
			<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">Mozilla HTML5</a>
		</li>
		<li>
			<a href="https://www.w3schools.com/cssref/css_selectors.asp">W3Schools CSS Selectors</a>
		</li>
		<li>
			<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Mozilla Javascript and DOM</a>
		</li>
		<li>
			<a href="https://www.typescriptlang.org/docs/handbook/basic-types.html">TypeScript</a>
		</li>
	</ul>
	<h2>Tool references</h2>
	<ul>
		<li>
			<a href="https://www.cs.princeton.edu/courses/archive/spr05/cos126/cmd-prompt.html">Windows command prompt</a>
		</li>
		<li>
			<a href="https://macpaw.com/how-to/use-terminal-on-mac">Mac terminal</a>
		</li>
	</ul>
	<h2>Validation tools</h2>
	<ul>
		<li>
			<a href="https://validator.w3.org/">W3C HTML</a>
		</li>
		<li>
			<a href="https://jigsaw.w3.org/css-validator/">W3C CSS</a>
		</li>
		<li>
			<a href="https://achecker.ca/checker/index.php">AChecker for web accessibility</a>
		</li>
		<li>
			<a href="http://wave.webaim.org/">WAVE for web accessibility</a>
		</li>
	</ul>
	<h2>Editors</h2>
	<ul>
		<li>
			<a href="https://code.visualstudio.com/">Visual Studio Code</a>
		</li>
		<li>
			<a href="https://www.sublimetext.com/">Sublime Text</a>
		</li>
		<li>
			<a href="https://atom.io/">Atom Editor</a>
		</li>
	</ul>
	<h2>Fonts, Icons, and Color</h2>
	<ul>
		<li>
			<a href="https://fonts.google.com/">Google Fonts</a>
		</li>
		<li>
			<a href="https://fontawesome.com/">Font Awesome Icons</a>
		</li>
		<li>
			<a href="https://material.io/tools/icons/?style=baseline">Google Material Design Icons</a>
		</li>
		<li>
			<a href="https://thenounproject.com/">Noun Project</a>
		</li>
		<li>
			<a href="https://favicon.io/">Favicon.io</a>
		</li>
		<li>
			<a href="https://color.adobe.com/">Adobe Color CC</a>
		</li>
		<li>
			<a href="http://paletton.com/">Palleton</a>
		</li>
		<li>
			<a href="https://boxicons.com/">Box Icons</a>
		</li>
		<li>
			<a href="https://feathericons.com/">Feather Icons</a>
		</li>
		<li>
			<a href="https://www.colorbox.io/">Lyft Color Palette Generator</a>
		</li>
	</ul>
</main>