/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

/* Palette URL: http://paletton.com/#uid=70m0u0kllllaFw0g0qFqFg0w0aF */

:root{
	--color-primary-0: #8B2E5F;	/* Main Primary color */
	--color-primary-1: #D08BAF;
	--color-primary-2: #AD5784;
	--color-primary-3: #68113F;
	--color-primary-4: #450025;

	--color-secondary-1-0: #AA3E39;	/* Main Secondary color (1) */
	--color-secondary-1-1: #FFAEAA;
	--color-secondary-1-2: #D46F6A;
	--color-secondary-1-3: #801B15;
	--color-secondary-1-4: #550400;

	--color-secondary-2-0: #2C8437;	/* Main Secondary color (2) */
	--color-secondary-2-1: #84C68C;
	--color-secondary-2-2: #52A55C;
	--color-secondary-2-3: #10631B;
	--color-secondary-2-4: #004208;

	--color-complement-0: #789E35;	/* Main Complement color */
	--color-complement-1: #D1ED9E;
	--color-complement-2: #A2C563;
	--color-complement-3: #537614;
	--color-complement-4: #334F00;
}


@font-face {
	font-family: ChaparralPro;
	font-style: normal;
	src: url("assets/fonts/ChaparralPro-Regular.woff") format("woff");
}

@font-face {
	font-family: ChaparralPro;
	font-style: italic;
	src: url("assets/fonts/ChaparralPro-Italic.woff") format("woff");
}

hr {
	border-top: 5px double #888;
}

body {
	padding: 50px;
	font-family: 'ChaparralPro', serif;
}

.container {
	max-width: 1000px;
	padding: 0px;
}

nav {
	text-align: right;
}

@media screen and (max-width : 800px)
{
	.name > h1 {
		font-size: 400%;
	}
	nav {
		text-align: left;
		font-size: 200%;
	}
  main {
  	font-size:200%;
  }
  footer {
  	font-size:200%;
  }
}

nav > a {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.name > h1 {
	font-weight: 700;
	margin:0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 1.3em;
	font-weight: 900;
}

h2 {
	font-size: 1.2em;
	font-weight: 700;
}

h3 {
	font-size: 1.1em;
}

h4 {
	font-size: 1.0em;
}

aside {
	font-family: 'Lato', sans-serif;
	font-size: 0.7em;
}

aside > h2 {
	font-weight: 700;
	font-size: 1.2em;
	margin: 10px 0px 5px 0px;
}

aside > p {
	margin: 2px 2px 5px 2px;
	font-size: 1.0em;
}

aside > a {
	display: block;
}

aside > a > span {
	vertical-align: top;
	line-height: 16px;
}

cite {
	font-style: normal;
	padding: 10px 0px;
	display: block;
}

cite > .series {
	font-family: 'Lato', sans-serif;
}

cite > a {
	font-family: 'Lato', sans-serif;
	font-size: 0.8em;
}

cite > .authors {
	font-family: 'ChaparralPro', serif;
	font-size: 1.1em;
}

cite > .title {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

cite > .notes {
	font-family: 'Lato', sans-serif;
	color: var(--color-complement-0);
	font-weight: 300;
	font-size: 0.8em;
}

img.maxwidth {
	max-width: 100%;
	display: block;
}

code {
	color: var(--color-complement-0);
}

hr {
	border-top: 1px solid #888;
}

a {
	color: var(--color-primary-0);
}

a:hover {
	color: var(--color-primary-1);
}

a:active {
	color: var(--color-primary-2);
}

a:visited {
	color: var(--color-primary-0);
}

blockquote {
	font-family: 'Lato', sans-serif;
	font-size: 0.8em;
	margin: 0 0 0 1em;
}

tbd {
	color: var(--color-secondary-1-0);
}

.tbd {
	color: var(--color-secondary-1-0);
}

.emph {
	font-family: 'Lato', sans-serif;
	color: var(--color-complement-0);
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.day {
	border-style: solid;
	border-width: 1px;
	margin: 1px;
}

.today {
	background-color: var(--color-primary-1);
}

.event {
	margin: 2px;
	padding: 4px;
	font-size: 80%;
}

.event > .title {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.lecture {
	background-color: #6699CC;
}

.discussion {
	background-color: #8CB369;
}

.holiday {
	background-color: #FFF275;
}

.assignment {
	background-color: #967D69;
}

.quiz {
	background-color: #FF8C42;
}

.absence {
	background-color: #F4B9B2;
	font-weight: 300;
}

.officehours_daniel {
	background-color: #DAEDBD;
}

.officehours_jongho {
	background-color: #DAEDBD;
}

.officehours_lucas {
	background-color: #DAEDBD;
}