<main class="container-fluid">
	<h1>Calendar</h1>
	<div class="row row-eq-height" *ngFor="let week of calendar">
		<div *ngFor="let day of week" class="day" [ngClass]="day.weekend ? (day.today ? 'col today' : 'col') : (day.today ? 'col-2 today' : 'col-2')">
			<div>
				{{day.dateStr}}
			</div>
			<div *ngFor="let event of day.events">
				<div *ngIf="event.type == 'lecture' || event.type =='discussion'" class="event {{event.type}}">
					<div class="title">
						<a *ngIf="event.link" [href]="event.link" target="_blank">{{event.title}}</a>
						<span *ngIf="!event.link">{{event.title}}</span>
					</div>
					<div *ngFor="let place of event.places">{{place.timeStr}} | {{place.location}}</div>
					<div *ngIf="event.demo"><a [href]="event.demo">demo code</a></div>
					<div *ngIf="event.recording"><a [href]="event.recording" target="_blank">lecture recording</a></div>
				</div>
				<div *ngIf="event.type == 'officehours_daniel' || event.type == 'officehours_jongho' || event.type == 'officehours_lucas'" class="event {{event.type}}">
					<div class="title">
						{{event.label}}
					</div>
					<div *ngFor="let place of event.places">{{place.timeStr}} | {{place.location}}</div>
				</div>
				<div *ngIf="event.type == 'holiday' || event.type == 'absence'" class="event {{event.type}}">
					<div class="title">
						{{event.title}}
					</div>
				</div>
				<div *ngIf="event.type == 'assignment'" class="event {{event.type}}">
					<div class="title">
						<a *ngIf="event.link" [href]="event.link">{{event.title}} Due</a>
						<span *ngIf="!event.link">{{event.title}} Due</span>
					</div>
					<div>
						{{event.name}}
					</div>
				</div>
				<div *ngIf="event.type == 'quiz'" class="event {{event.type}}">
					<div class="title">
						{{event.title}}
						<div>
							{{event.name}}
						</div>
					</div>
					<div *ngFor="let place of event.places">{{place.timeStr}} | {{place.location}}</div>
				</div>
			</div>
		</div>
	</div>
</main>