<main class="container-fluid" *ngIf="assignment">
   <h1>{{assignment.title}}: {{assignment.name}}</h1>
   <h3>Due {{assignment.due}}</h3>
   <p>There are two parts to this assignment. Getting to Know You (Background Survey) and Getting to Know Us (Syllabus Quiz). You must complete both parts of this assignment to pass the class.</p>
   <p>We encourage you to complete this assignment over the weekend so we can address any questions or concerns about the syllabus in lecture on Monday.</p>
   <h2>Getting to Know You (Background Survey)</h2>
   <p>We want to get to know you a little better! Submit the three-question background survey so we can better understand your goals and web programming background.</p>
   <h3>Submission</h3>
   <p>Submit the survey on Canvas: <a href="https://canvas.eee.uci.edu/courses/18235/quizzes/69588">https://canvas.eee.uci.edu/courses/18235/quizzes/69588</a></p>
   <h3>Grading</h3>
   <p>This assignment will be graded on a scale of one point for completing the background survey.</p>
   <h2>Getting to Know Us (Syllabus Quiz)</h2>
   <p>The syllabus contains answers to questions about how to contact the course staff, what constitutes cheating, when assignments are due, and much more. We have created a short quiz to ensure you have read and understood the syllabus and to avoid spending substantial lecture time describing policy details.</p>
   <p>Complete the syllabus quiz on Canvas. You can refer to the <a href="/syllabus">syllabus</a> while you take the quiz. You can take the quiz as many times as you want.</p>
   <h3>Submission</h3>
   <p>Take the quiz on Canvas: <a href="https://canvas.eee.uci.edu/courses/18235/quizzes/67624">https://canvas.eee.uci.edu/courses/18235/quizzes/67624</a></p>
   <h3>Grading</h3>
   <p>This assignment will be graded on a scale of one point for completing the syllabus quiz. You must receive 100% on this quiz to pass this class. But again, you may re-take the quiz as many times as you want.</p>
</main>